.province {
  fill: none;
  stroke: #aaa;
  stroke-width: 0.2px;
  stroke-linejoin: round;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  height: 24px;
  line-height: 24px;
  padding: 2px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  pointer-events: none;
}

.tooltip.img {
  width: 85px;
}

.tooltip img {
  height: 24px;
  float: left;
}
.tooltip span {
  height: 24px;
  margin-top: 2px;
  margin-left: 4px;
  float: left;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}